
	/** propriétées globales du tableau (formulaire) + cellules */
.postadd_table				{ width: 100%; }
.postadd_table td			{ padding: 4px; }

	/* entoure le texte en prévisualisation */
.postadd_prev				{ margin-left: 165px; margin-bottom: 20px; }
.text_prev					{ width: 500px; padding: 10px; }

.post_textarea				{ width: 99%; height: 200px; margin: 5px;}
.post_input_title			{ width: 480px; }
.cadre_bbcode				{ /*text-align:center;*/ }

.tdleft_global				{ padding: 4px; }

	/** Partie sondages **/
.input_sondage_question, .input_sondage_reponse, .input_sondage_jours{ margin-left: 5px; }
.input_sondage_question		{ width: 90%; }
.input_sondage_reponse		{ width: 500px; }
.sondage_bouton_ajouter		{ width: 130px; }
.sondage_bouton_supprimer	{ width: 130px; }
.input_sondage_jours		{ width: 40px; }


	/* Partie inférieure */
.bouton_previsualiser		{ /* à surdéfinir */ }
.bouton_envoyer				{ /* à surdéfinir */ }


	/* Récapitulatif de la discution */
.review_maindiv				{ margin: auto; margin: auto; width: 98%; }
.review_fieldset			{ border: 1px solid #CCCCCC; }
.review_legend				{ font-size: 12px; color: #555555; }
.review_indiv				{ height: 300px; overflow: auto; }






